@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: white; /* Yazıları beyaz yap */
  background: #050505; /* Arka planı siyah yap */
  background: linear-gradient(to bottom, #050505, #000000); /* Hafif ton geçişi */
  min-height: 100vh;
}

/* Scrollbar'ı güzelleştir (Koyu tema için) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}